@using CiberNeo.Models;

@{
    ViewBag.Title = "Cliente";
    Layout = "~/Areas/Inicio/Views/Shared/Layout.cshtml";
}

<hr />
    <section>
        <div class="h3">
            <p>
                @Html.Partial("_cuenta") 
            </p>
        </div>
        <div class="h5">
            <p>
                @Html.Partial("_info")
            </p>
        </div>
    </section>
<hr />

