
@{
    Layout = "~/Areas/Inicio/Views/Shared/Layout.cshtml";
}

    <section class="info">

        <div class="info_pic">

        </div>
        <div class="info_details">
            <h3>¡Conviertete en miembro y consigue grandes promociones!</h3>
            <p>Al registrarte consigues grandes beneficios y promociones exclusivas, y lo mejor... ¡es totalmente gratis! </p>
            <a href="">Registrate ahora <span>→</span></a>
        </div>
    </section>

<div>
    <section class="testimonials wrapper">

        <span class="sep_line sep_top">
        </span>

        <div class="testi_slider" id="tslider">
            <div class="t">
                <img src="~/Areas/Inicio/img/Call of duty.jpg" width=200 height=40% align="left" />
                <p class="text-center">
                    <br />

                    40 años después de los acontecimientos en Call of Duty: Black Ops II, el mundo tiene lugar en un futuro distópico, situado en 2065,
                    donde la ciencia y la tecnología han cambiado radicalmente a la especie humana, con la sociedad violenta y las protestas y el intento
                    de detener el progreso de la tecnología.

                </p>
                <p class="author">Call of Duty: Black Ops 4</p>
            </div>
            <div class="t">
                <img src="~/Areas/Inicio/img/Fifa19.jpg" width="200px" height="30%" align="left" />
                <p class="text-center">
                    <br />
                    <br />
                    FIFA 19 es el último de la serie FIFA de simulaciones de fútbol. En él, juegas como equipos existentes o reúnes el
                    equipo de tus sueños y juegas a través de varios escenarios o campañas de fútbol reales o imaginarias.

                </p>
                <p class="author">Fifa 2019</p>
            </div>
            <div class="t">
                <img src="~/Areas/Inicio/img/Fortnite.jpg" width="200px" height="30%" align="left" />
                <p class="text-center">
                    <br />
                    <br />

                    Fortnite es un juego de supervivencia en el que tenemos total libertad para construir fortalezas con el único objetivo
                    de progresar en el mundo abierto de este título de acción mientras nos defendemos de hordas de feroces muertos vivientes.

                </p>
                <p class="author">Fortnite</p>
            </div>
            <div class="t">
                <img src="~/Areas/Inicio/img/TLOUS.jpg" width="200px" height="40%" align="left" />
                <p class="text-center">
                    <br />


                    En este juego, la naturaleza ha invadido la civilización, forzando a los supervivientes que quedan a matar por comida, armas
                    o cualquier otra cosa que puedan encontrar. Joel, un despiadado superviviente; y Ellie, una valiente adolescente más sabia que
                    lo propio en su edad; deben trabajar juntos para conseguir seguir con vida en su viaje hacia el Oeste de lo que queda de los Estados Unidos.

                </p>
                <p class="author">The Last Of Us: Remastered</p>
            </div>
        </div>
        <div id="t_navigation"></div>

        <span class="sep_line sep_bottom"></span>

        <img src="~/Areas/Inicio/img/BannerJuegos.png" height="100%" margin-top: 1000px; style=" padding-bottom:20px; padding-top: 20px;" widthalt="">
    </section>
</div>