
@{
    ViewBag.Title = "Ubicacion";
    Layout = "~/Areas/Inicio/Views/Shared/Layout.cshtml";
}
    <div class="text-center" style=" padding-bottom: 40px;">
        <h1 style="padding-top: 20px; padding-bottom: 20px; font: bold 20px arial, verdana;"> Visitanos en nuestras ubicaciones </h1>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1792.7076807823491!2d-98.27394934204577!3d26.019962306225445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86650fb656175db7%3A0x68a78e359020b145!2sQuinta%20319%2C%20Pedro%20Jos%C3%A9%20M%C3%A9ndez%2C%2088799%20Reynosa%2C%20Tamps.!5e0!3m2!1sen!2smx!4v1572312821390!5m2!1sen!2smx" style=" padding-right: 20px;"
                width="600" height="450" align="middle" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        <img src="~/Areas/Inicio/img/CiberNeoUbicacion.png" width="540px" height="460px" align="right" />

    </div>
       